.product-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 200px;
  width: 300px;
  border-radius: 5px;
  box-shadow: 1px 2px 8px 1px #fb8332;
}
.product-form__input {
  border: 1px solid gray;
  border-radius: 0.25rem;
  padding: 8px 16px;
  font-size: 14px;
}
.product-form a {
  font-size: 12px;
  text-decoration: underline;
}
